// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-nav {
  margin-top: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid black;
  min-height: 350px;
}

.main-app {
  margin-top: 10px;
}

.main-app p {
  margin-bottom:1px;
}


.border-bottom td{
  border-top: none;
  border-bottom: 1px solid grey;
}

