// Place all the styles related to the Essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.essay-header {
  padding: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;

}

.essay-post {
  margin-top: 10px;
  padding: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
}

.name-display {
  font-size: 0.75em;
}

.essay-sidebar {
  margin-top: 10px;
}