.form-border {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);  padding: 10px;
  margin-bottom: 10px;
}

.checklist {
  display: inline-block;
  width: 30%;
}


@media (max-width: 74.9em) {
  .checklist {
    display: inline-block;
    width: 45%;
  }
}


@media (max-width: 61.9em) {
  .checklist {
    display: inline-block;
    width: 45%;
  }
}

@media (max-width: 47.9em) {
  .checklist {
    display: inline-block;
    width: 90%;
  }
}



