nav {
  background-color: #E2F0D6;
}

nav.navbar {
  border-radius: 0 0 5px 5px;
}

#navbar-header {
  margin-top: 12px;
}

.navbar-brand {
  font-size: 30px;
  color: #10222B ;
  padding-left: 10px;
}

.nav-link {
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0.25em;
}

nav a {
  color: #595241;
}

.nav-item a {
  font-family: Arial;
  color: #595241;
}

.nav-item a:hover {
  background-color: #96B5B2;
}

@media (max-width:767px) {
  .nav-link.nav-welcome {
    display:none;
  }

  .navbar-brand {
    width: 20%;
    margin-left: 40%;
    float: none;
    text-align: center;
  }
}

@media (max-width:543px) {
  .navbar-nav .nav-item {
    display: block;
    float: none;
  }

  .navbar-nav {
    left: 0px;
  }
}