nav {
  background-color: $color2;
}

nav.navbar {
  padding: 0;
  padding-left: 10px;
}

.nav-item {
  height: 50px;
}

.navbar-brand {
  font-size: 1.5em;
  color: $color5;
  font-family: Sans-serif;
}

.navbar-nav .nav-link {
  height:100%;
  padding: 12px 10px 0 10px;
}

.navbar-nav .nav-link + .nav-link, .navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}

nav a {
  color: $color5;
}

.nav-item a {
  font-family: Arial;
  color: $color5;
}

.nav-item a:hover {
  background-color: $color2hover;
}

@media (max-width:767px) {
  .nav-link.nav-welcome {
    display:none;
  }

  .navbar-brand {
    width: 33%;
    margin-left: 33%;
    float: none;
    text-align: center;
  }
}

@media (max-width:543px) {
  .navbar-nav .nav-item {
    display: block;
    float: none;
  }

  .navbar-nav {
    left: 0px;
  }
}