// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-index {
  width: 70%;
  margin-left: 15%;
  background-color: white;
}

.mini-nav {
  margin-top: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.app-header {
  font-weight: bold;
  margin: 5px 0 1px 0;
}

hr {
 margin: 10px 0 10px 0;
}

.school-unit {
  vertical-align: middle;
  display: table-cell;
  height: 2em;
  padding: 0 5px 0 5px;
  color: $color1;
}

.home-header {
  color: $color5;
}


@media(max-width: 991px) {
  .school-label {
  }

  .main-index {
    width: 90%;
    margin-left: 5%;
  }
}

@media(max-width: 543px) {
  .mini-nav {
    margin-top: 0.5em;
  }
  .school-unit {
    display: inline;
  }
}