<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
    <p>Copyright &copy; 2015 看录取网 All Rights Reserved 粤ICP备15040201号</p>
  </div>
</footer>